<div class="col-11 mx-auto py-1 mb-3">
    <h3>Nombre del evento | Tipo del evento</h3>
    <div class="row g-1">
        <div class="col-6">
            <img src="" alt="">
        </div>
        <div class="col-6">
            <h4>Información general</h4>
            <table class="col-12">
                <tr>
                    <th class="col-2"></th>
                    <th class="col-10"></th>
                </tr>
                <tr>
                    <td>Lugar: </td>
                    <td>Centro de convenciones</td>
                </tr>
                <tr>
                    <td>Ciudad: </td>
                    <td>Armenia</td>
                </tr>
                <tr>
                    <td>Fecha: </td>
                    <td>06/12/2024</td>
                </tr>
                <tr>
                    <td>Hora: </td>
                    <td>16:00</td>
                </tr>
                <tr>
                    <td>Categoria: </td>
                    <td>Cultural</td>
                </tr>
                <tr>
                    <td>Dirección: </td>
                    <td>Cl. 26 Nte. #11-21</td>
                </tr>
            </table>
            <div class="col-12 text-start">
                <!-- Botón Cancelar con espacio a la derecha -->
                <button (click)="regresar()" class="btn btn-secondary my-2 me-3">Cancelar</button>
                <!-- Botón Realizar compra -->
                <button class="btn btn-primary my-2" routerLink="/realizar-compra">Realizar compra</button>
            </div>
        </div>
    </div>
</div>
