<div class="col-11 mx-auto py-1 mb-3">
    <h3>{{item.nombre}} | {{item.tipoEvento}}</h3>
    <div class="row g-1 mt-3">
        <div class="col-6 border-end border-3">
            <img src={{item.imagenPortada}} alt="" class="col-11 rounded">
        </div>
        <div class="col-6 ps-5  d-flex flex-column justify-content-center">
            <h4>Información general</h4>
            <table class="col-12 my-1">
                <tr>
                    <th class="col-2"></th>
                    <th class="col-10"></th>
                </tr>
                <tr>
                    <td>Ciudad: </td>
                    <td>{{item.ciudad}}</td>
                </tr>
                <tr>
                    <td>Fecha: </td>
                    <td>{{item.fecha.split("T")[0]}}</td>
                </tr>
                <tr>
                    <td>Hora: </td>
                    <td>{{item.fecha.split("T")[1]}}</td>
                </tr>
                <tr>
                    <td>Categoria: </td>
                    <td>{{item.tipoEvento}}</td>
                </tr>
                <tr>
                    <td>Dirección: </td>
                    <td>{{item.direccion}}</td>
                </tr>
            </table>
            <div class="col-12 text-start">
                <!-- Botón Cancelar con espacio a la derecha -->
                <button (click)="regresar()" class="btn btn-secondary my-2 me-3">Regresar</button>
                <!-- Botón Realizar compra -->
                <button class="btn btn-success my-2" (click)="openRealizarCompra(item.id)">Realizar compra</button>
            </div>
        </div>
    </div>
</div>
