/* Estilos de la tarjeta de perfil */
.card {
    border: 1px solid #ddd; /* Borde suave alrededor de la tarjeta */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras ligeras */
    width: 55%;
    margin-top: 30px;
    background-color: #fff;
}

.card h3 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 8px 0;
}

.card-body p strong {
    font-weight: 600;
    font-size: 1.05rem;
}

