<div class="container mt-4">
    <h3>Perfil</h3>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Nombre:</strong> Salomé Quintero Reodríguez</p>
            <p><strong>Número de identificación:</strong> 1234567890</p>
            <p><strong>Número telefónico:</strong> 3216549870</p>
            <p><strong>Dirección de residencia:</strong> Barrio Bosques de Pinares Manzana A Casa B</p>
            <p><strong>Correo electrónico:</strong> salome&#64;gmail.com</p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-danger mx-2">Eliminar cuenta</button>
        <button class="btn btn-primary mx-2" routerLink="/editar-perfil">Actualizar cuenta</button>
    </div>
</div>
