<div class="card profile-card col-5 mx-auto">
    <h3 class="profile-title">Perfil</h3>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p><strong>Nombre:</strong> {{ nombre }}</p>
                <p><strong>Número de identificación:</strong> {{ cedula }}</p>
                <p><strong>Número telefónico:</strong> {{ telefono }}</p>
                <p><strong>Dirección de residencia:</strong> {{ direccion }}</p>
                <p><strong>Correo electrónico:</strong> {{ email }}</p>
              </div>
              
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-danger mx-2" (click)="eliminarCuenta(id)">Eliminar cuenta</button>
            <button class="btn btn-primary mx-2" routerLink="/editar-perfil" (click)="openEditarPefil(id);">Actualizar cuenta</button>
        </div>
    </div>
</div>
