<div class="card col-10 mx-auto">
    <div class="card-header">
        Editar cupones
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Editar cupones</h5>
        <form [formGroup]="editarCuponForm" (ngSubmit)="editarCupon()" novalidate="">
            <div class="mb-3 col-10 mx-auto">
                <label>Nombre del cupon: </label>
                <input type="text" class="form-control" formControlName="nombre" [value]="cupon.nombre"/>
            </div>
            <div class="mb-3 col-10 mx-auto">
                <label>Código del cupon: </label>
                <input type="text" class="form-control" formControlName="codigo" [value]="cupon.codigo">
            </div>
            <div class="mb-3 col-10 mx-auto">
                <label>Porcentaje de descuento del cupon: </label>
                <input type="number" class="form-control" formControlName="descuento" [value]="cupon.descuento">
            </div>
            <div class="mb-3 col-10 mx-auto">
                <label for="fecha_vencimiento">Fecha de vencimiento:</label>
                <input type="datetime-local" id="fechaVencimiento" class="form-control" formControlName="fechaVencimiento" [value]="cupon.fechaVencimiento" required>
            </div>
            <div class="mb-3 col-10 mx-auto">
                <label>Tipo: </label>
                <select formControlName="tipoCupon" class="form-control">
                    <option value="">Seleccione un tipo</option>
                    @for (item of tiposDeCupon; track $index) {
                        @if(item.value == cupon.tipoCupon){
                            <option value="{{item.value}}" [selected]="true">{{item.nombre}}></option>
                        }@else {
                            <option value="{{item.value}}" [selected]="false">{{item.nombre}}</option>
                        }

                    }
                </select>
            </div>
            
            
            <div class="row g-0 col-11 text-end justify-content-end">
                <div class="mb-3 mx-1 col-auto">
                    <button (click)="regresar()" class="btn btn-secondary col-auto">Cancelar</button>
                </div>
                <div class="mb-3 mx-1 col-auto">
                    <button type="submit" class="btn btn-success col-auto" (click)="guardarCambios()">Editar cupón</button>
                </div>
            </div>
        </form>
    </div>
</div>