<div class="col-11 mx-auto py-1 mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Listar PQRS</h3>
    </div>
    <div class="mt-5">
        <div class="card mb-3">
            <table class="table table-bordered mb-0"> 
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Id PQRS</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Estado PQRS</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of pqrs; track $index) {
                        <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{ item.fechaCreacion }}</td>
                        <td>
                            <button class="btn btn-warning">
                                <i class="bi bi-arrow-repeat" (click)="openResponderPqr(item.id);"></i> Responder
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Botón Cancelar debajo de la tabla -->
    <div class="mt-3 text-start">
        <button  class="btn btn-secondary">Cancelar</button>
    </div>
</div>
