<app-header></app-header>
<header>
  <p>Página inicial de {{ title }}</p>
  <ul>
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <li><a routerLink="/crear-eventos">Crear Eventos</a></li>
    <li><a routerLink="/editar-eventos">Editar Eventos</a></li>
    <li><a routerLink="/realizar-compra">Realizar Compra</a></li>
    <li><a routerLink="/crear-cupones">Crear Cupones</a></li>
    <li><a routerLink="/editar-cupones">Editar Cupones</a></li>
 </ul>
 </header>
 <router-outlet></router-outlet>
 <footer>
  <p>{{ footer }}</p>
 </footer>