<div class="col-11 mx-auto py-1 mb-3">
    <h3>Realizar compra</h3>
    <div class="row g-1">
        <div class="col-6">
            <img [src]="img" alt="">
        </div>
        <div class="col-6">
            <h4>Localidades</h4>
            <form [formGroup]="compraForm">
                <table class="col-12">
                    <thead>
                        <tr>
                            <th class="">Localidades</th>
                            <th class="">Cantidad</th>
                            <th class="">Precio unitario</th>
                            <th class="">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items">
                        @for(item of items.controls;track $index; let i = $index){
                            <tr [formGroupName]="i">
                                <td class="col-3">{{ item.get('localidad')?.value }}</td>
                                <td class="col-3">
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="number" min="0"
                                            formControlName="cantidad" (change)="calcularTotales(i)" />
                                    </div>
                                </td>
                                <td class="col-3">${{ item.get('precio')?.value }}</td>
                                <td class="col-3">${{ item.get('precioTotal')?.value }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <div class="row mt-5 g-0 col-12 justify-content-center">
                <h5 class="col-auto">Valor total a pagar: </h5>
                <p class="col-auto"> ${{ total }}</p>
            </div>
            <div class="col-12 text-center mt-5 d-flex justify-content-center gap-3">
                <!-- Botón Cancelar -->
                <button class="btn btn-secondary col-3" (click)="regresar()">Regresar</button>
                <!-- Botón Agregar al carrito -->
                <button class="btn btn-primary col-3 mx-1" (click)="agregarCarrito()">Agregar al carrito</button>
                <!-- Botón Comprar ahora -->
                <!-- <button class="btn btn-success col-3 mx-1" (click)="realizarCompra()">Comprar ahora</button> -->
            </div>
        </div>
    </div>
</div>