<!-- Sección de Soporte -->
<div class=" p-3" style="background-color: rgba(0, 0, 0, 0.05);">
  <h5 class="text-body ms-5 ps-4">Soporte</h5>
  <ul style="list-style-type: none; padding: 0;">
      <li><a class="text-body ms-5 ps-4" routerLink="/soporte">FAQ</a></li>
      <li><a class="text-body ms-5 ps-4" routerLink="pqrs">PQRS</a></li>
  </ul>
</div>

<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <a class="text-body" href="https://www.uniquindio.edu.co">© Universidad del Quindío - 2024-2</a>
  </div>
  <!-- Copyright -->
</footer>
